<h1> Grand Manifest Lists </h1>
<h3> ============================ </h3>

<ol class = "center list-group">
 <% @manifests.each do |mfst| %>
  <li class="list-group-item">
    <tr>
      <td><%= mfst.title %></td>
      <td><%= mfst.body %></td>
      <td><%= link_to 'Show', mfst %></td>
      <td><%= link_to 'Edit', edit_manifest_path(mfst) %></td>
      <td><%= link_to 'Destroy', mfst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </li>
 <% end %>
</ol>

<br/><br/><br/>

<div class="btn-group">
  <%= link_to "Create!", new_manifest_path, class: "btn btn-large btn-primary" %>
</div>

