<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @manifest.title %>
</p>

<p>
  <b>Body:</b>
  <%= @manifest.body %>
</p>


<%= link_to 'Edit', edit_manifest_checklist_path(@manifest, @checklist) %> |
<%= link_to 'Back', manifest_checklists_path(@manifest) %>
