<%= form_for([@manifest, @checklist]) do |f| %>
  <% if @checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checklist.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :step %><br />
    <%= f.text_field :step %>
  </div>

  <div class="field">
    <%= f.label :list_id %><br />
    <%= f.number_field :list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
