<h1> Just another.. step in the Wall </h1>
<h3> Your step says:  </h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Step:</b>
  <%= @checklist.step %>
</p>

  <b>List:</b>
  <%= @checklist.list_id %>
</p>


<%= link_to 'Edit', edit_manifest_checklist_path(@manifest, @checklist) %> |
<%= link_to 'Back', manifest_checklists_path(@checklist) %>
